/*Задание 186#1*/
#elem0_186_1 {
    width: 400px;
    text-align: justify;
}
#elem1_186_1 {
    width: 75px;
    float: left;
    margin: 5px;
}
#elem2_186_1 {
    width: 75px;
    float: right;
    margin: 5px;
}

/*Задание 186#1*/
#elem0_191_1 {
    width: 600px;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid black;
    text-align: justify;
}

.left_191_1  {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}
.right_191_1  {
    float: right;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
